.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.search-button:hover {
    opacity: 0.9;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
}

.location,
.amenities {
    height: 100%;
    width: 25%;
    text-align: center;
    display: inline-block;
}

.location {
    left:5px;
    border-right: #DDDDDD solid 1px;
}

h3,
h4 {
    margin: 0;
}

h3 {
    margin-top: 5%;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    width: 20%;
}

.popover ul {
    list-style: none;
    padding: 0;
}
ul {
    list-style-type: none;
    margin-top: 15px;
}
.popover h2 {
    font-size: 16px;
    margin: 10px;
}

.location:hover .popover
{
    display: inline-block;
    left:0%;
}
.amenities:hover .popover
{
    margin:top15px;
    display: inline-block;
    left:26%;
    margin-top:5px;
}
